.signature {
    font-style: italic;
    color: #b22222;
    font-size: small;
}

.rosso {
    color: #b22222;
}

.nero {
    color: black;
}

.list {
    display: flex;
    flex-direction: column;
    list-style-type: square;
    color: #b22222;
    padding-left: 5%;
}
.list a {
    color: black;
}

.category {
    color: #b22222;
    font-weight: bold;
    font-size: small;
}

a {
   text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

.img-fluid {
    width: 100%;
    height: auto;
}