<div class="container">
    <div class="row">
        <p class="category"> {{ article.category }} </p>
    </div>

    <div class="row">
        <img [src]="article.imageUrl" alt="article-picture" alt="article-picture">
    </div>
    <div class="row">
        <a href="#"> {{ article.titleBlack }} </a>
        <a href="#" class="rosso"> {{ article.titleRed }} </a>
    </div>
    <div class="row signature">
        <p> {{ article.signature }}</p>
    </div>

    <ul class="horizontal-list">
        <li>
            <a href="#">{{ article.approfUno }}</a>
        </li>
        <li>
            <a href="#">{{ article.approfDue }}</a>
        </li>
    </ul>
</div>