<div class="container">

    <div class="row">
        <div class="container-flex">
            <!-- Lista di elementi -->
            <div class="list-item first"><a href="#" class="blue">GIORNO&NOTTE</a></div>
            <!-- Elemento che riempie lo spazio -->
            <div class="fill-space">
                <div class="line"></div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6"> <a href="#"><img [src]="article.imageUrl" class="img-fluid"/> </a></div>
        <div class="col-md-6"> <p class="text"> <a href="#" class="white">{{ article.titleBlack }} </a></p></div>
    </div>

</div>