<div class="container">

    <div class="row">
        <div class="container-flex">
            <!-- Lista di elementi -->
            <div class="list-item first">GIORNO&NOTTE</div>
            <!-- Elemento che riempie lo spazio -->
            <div class="fill-space">
                <div class="line"></div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6"><img [src]="article.imageUrl" class="img-fluid"/> </div>
        <div class="col-md-6"><p class="text"> {{ article.titleBlack }} </p></div>
    </div>

</div>