<div class="container d-none d-lg-block">

    <div class="row header">
        <div class="container-flex ciaone">
            <!-- Lista di elementi -->
            <div class="list-item ciao"><img class="image" src="../../assets/header-img/title.png"></div>
            
            <!-- Elemento che riempie lo spazio -->
            <div class="fill-space">
                <div class="line"></div>
            </div>
            <div class="list-item ciao"> &#169;2024 Il NEWSPAPER - C.F. e P.IVA 44444444444</div>
        </div>
    </div>


    <div class="row link">

        <div class="col-md-6">
            <p class="title">SEZIONI</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="container-flex sezioni-con">
                        <!-- Lista di elementi -->
                        <a href="#" class=""> <div class="list-item ">Peronse</div></a>
                        <a href="#" class=""> <div class="list-item ">Italia</div></a>
                        <a href="#" class=""> <div class="list-item ">Mondo</div></a>
                        <a href="#" class=""> <div class="list-item ">Economia</div></a>
                        <a href="#" class=""> <div class="list-item ">Politica</div></a>
                        <a href="#" class=""> <div class="list-item ">Salute</div></a>
                        <a href="#" class=""> <div class="list-item ">Schede</div></a>
                        <a href="#" class=""> <div class="list-item ">Sport</div></a>
                        <a href="#" class=""> <div class="list-item ">Spettacoli</div></a>
                        <a href="#" class=""> <div class="list-item ">Donna</div></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container-flex sezioni-con">
                        <!-- Lista di elementi -->
                        <a href="#" class=""> <div class="list-item ">Peronse</div></a>
                        <a href="#" class=""> <div class="list-item ">Italia</div></a>
                        <a href="#" class=""> <div class="list-item ">Mondo</div></a>
                        <a href="#" class=""> <div class="list-item ">Economia</div></a>
                        <a href="#" class=""> <div class="list-item ">Politica</div></a>
                        <a href="#" class=""> <div class="list-item ">Salute</div></a>
                        <a href="#" class=""> <div class="list-item ">Schede</div></a>
                        <a href="#" class=""> <div class="list-item ">Sport</div></a>
                        <a href="#" class=""> <div class="list-item ">Spettacoli</div></a>
                        <a href="#" class=""> <div class="list-item ">Donna</div></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container-flex sezioni-con">
                        <!-- Lista di elementi -->
                        <a href="#" class=""> <div class="list-item ">Peronse</div></a>
                        <a href="#" class=""> <div class="list-item ">Italia</div></a>
                        <a href="#" class=""> <div class="list-item ">Mondo</div></a>
                        <a href="#" class=""> <div class="list-item ">Economia</div></a>
                        <a href="#" class=""> <div class="list-item ">Politica</div></a>
                        <a href="#" class=""> <div class="list-item ">Salute</div></a>
                        <a href="#" class=""> <div class="list-item ">Schede</div></a>
                        <a href="#" class=""> <div class="list-item ">Sport</div></a>
                        <a href="#" class=""> <div class="list-item ">Spettacoli</div></a>
                        <a href="#" class=""> <div class="list-item ">Donna</div></a>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="col-md-2">
            <p class="title">EDIZIONI LOCALI</p>
            <div class="container-flex edizioni-con">
                <!-- Lista di elementi -->
                <a href="#" class=""> <div class="list-item ">Roma</div></a>
                <a href="#" class=""> <div class="list-item ">Viterbo</div></a>
                <a href="#" class=""> <div class="list-item ">Rieti</div></a>
                <a href="#" class=""> <div class="list-item ">Latina</div></a>
                <a href="#" class=""> <div class="list-item ">Frosinone</div></a>
                <a href="#" class=""> <div class="list-item ">Abbruzzo</div></a>
                <a href="#" class=""> <div class="list-item ">Marche</div></a>
                <a href="#" class=""> <div class="list-item ">Umbria</div></a>
            </div>
        </div>
        
        
        <div class="col-md-2">
            <p class="title">MULTIMEDIA</p>
            <div class="container-flex multimedia-con">
                <!-- Lista di elementi -->
                <a href="#" class=""> <div class="list-item ">Video</div></a>
                <a href="#" class=""> <div class="list-item ">Podcast</div></a>
                <a href="#" class=""> <div class="list-item ">Foto</div></a>
            </div>
        </div>
        
        
        <div class="col-md-2">
            <p class="title">SERVIZI</p>
            <div class="container-flex servizi-con">
                <!-- Lista di elementi -->
                <a href="#" class=""> <div class="list-item ">Smart City</div></a>
                <a href="#" class=""> <div class="list-item ">Meteo</div></a>
                <a href="#" class=""> <div class="list-item ">Oroscopo</div></a>
                <a href="#" class=""> <div class="list-item ">Sondaggi</div></a>
                <a href="#" class=""> <div class="list-item ">Abbondamento</div></a>
                <a href="#" class=""> <div class="list-item ">Necrologie</div></a>
            </div>
        </div>

    </div>


    <div class="row socials">
        <nav class="navbar navbar-expand-lg">
            <ul class="navbar-nav mx-auto w-100 d-flex justify-content-center">
                <li class="nav-item"><a href="#"> <!-- FACEBOOK -->
                        <i class="fa-brands fa-facebook" style="background-color: #30578f;"></i>
                    </a></li>
                <li class="nav-item"><a href="#"> <!-- X -->
                        <i class="fa-brands fa-x-twitter" style="background-color: #0f1419;"></i>
                    </a></li>
                <li class="nav-item"><a href="#"> <!-- YOUTUBE -->
                        <i class="fa-brands fa-youtube" style="background-color: #ff0000;"></i>
                    </a></li>
                <li class="nav-item"><a href="#"> <!-- INSTAGRAM -->
                        <i class="fa-brands fa-instagram" style="background-color: #e6245a;"></i>
                    </a></li>
                <li class="nav-item"><a href="#"> <!-- TELEGRAM -->
                        <i class="fa-brands fa-telegram" style="background-color: #249eda;"></i>
                    </a></li>
                <li class="nav-item"><a href="#"> <!-- TIK TOK -->
                        <i class="fa-brands fa-tiktok" style="background-color: #000000;" ></i>
                    </a></li>
            </ul>
        </nav>
    </div>
    
    
    <div class="row network">
        <div class="container-flex ciaone net-con">
            <!-- Lista di elementi -->
            <div class="list-item ciao net"><a href="#" class=""> CALTAGIRONE EDITORE</a></div>
            <div class="list-item ciao net"><a href="#" class=""> IL MATTINO</a></div>
            <div class="list-item ciao net"><a href="#" class=""> CORRIERE ADRIATICO</a></div>
            <div class="list-item ciao net"><a href="#" class=""> IL GAZZETTINO</a></div>
            <div class="list-item ciao net"><a href="#" class=""> QUOTIDIANO DI PUGLIA</a></div>
            <div class="list-item ciao net"><a href="#" class=""> LEGGO</a></div>
            <div class="list-item ciao net"><a href="#" class=""> PUBBLICITÀ</a></div>
        </div>
    </div>
    
    
    <div class="row footer-bottom">
        <div class="container-flex fondo-con">
            <!-- Lista di elementi -->
            <a href="#" class="grey"> <div class="list-item ciao fondo" style="color: #777;">CONTATTI</div></a>
            <a href="#" class="grey"> <div class="list-item ciao fondo" style="color: #777;">INFORMAZIONI LEGALI</div></a>
            <a href="#" class="grey"> <div class="list-item ciao fondo" style="color: #777;">WHISTLEBLOWING</div></a>
            <a href="#" class="grey"> <div class="list-item ciao fondo" style="color: #777;">Privacy Policy</div></a>
            <a href="#" class="grey"> <div class="list-item ciao fondo" style="color: #777;">Cookie Policy</div></a>
            <a href="#" class="grey"> <div class="list-item ciao fondo" style="color: #777;">Preferenze Cookie</div></a>
        </div>
    </div>

</div>



<!-- ------------------------- SMALL SCREENS ----------------------------- -->



<div class="container d-block d-lg-none">

    <div class="row header-small">
        <div class="container-flex header-small">
            <!-- Lista di elementi -->
            <div class="list-item-small img-container"><img class="img-fluid" src="../../assets/header-img/title.png"></div>
    
            <div class="list-item-small socials">
                <nav class="navbar">
                    <ul class="navbar-nav d-flex justify-content-center">
                        <li class="nav-item"><a href="#"> <!-- FACEBOOK -->
                                <i class="fa-brands fa-facebook" style="background-color: #30578f;"></i>
                            </a></li>
                        <li class="nav-item"><a href="#"> <!-- X -->
                                <i class="fa-brands fa-twitter" style="background-color: #0f1419;"></i>
                            </a></li>
                        <li class="nav-item"><a href="#"> <!-- YOUTUBE -->
                                <i class="fa-brands fa-youtube" style="background-color: #ff0000;"></i>
                            </a></li>
                        <li class="nav-item"><a href="#"> <!-- INSTAGRAM -->
                                <i class="fa-brands fa-instagram" style="background-color: #e6245a;"></i>
                            </a></li>
                        <li class="nav-item"><a href="#"> <!-- TELEGRAM -->
                                <i class="fa-brands fa-telegram" style="background-color: #249eda;"></i>
                            </a></li>
                        <li class="nav-item"><a href="#"> <!-- TIK TOK -->
                                <i class="fa-brands fa-tiktok" style="background-color: #000000;"></i>
                            </a></li>
                    </ul>
                </nav>
            </div>
            
            <div class="list-item-small" style="font-size: x-small;"> &#169;2024 Il NEWSPAPER - C.F. e P.IVA 44444444444</div>
        </div>
    </div>

    <div class="row network-low">
        <div class="container-flex low">
            <!-- Lista di elementi -->
            <a href="#" class=""> <div class="list-item ">CALTAGIRONE EDITORE</div></a>
            <a href="#" class=""> <div class="list-item ">IL MATTINO</div></a>
            <a href="#" class=""> <div class="list-item ">CORRIERE ADRIATICO</div></a>
            <a href="#" class=""> <div class="list-item ">IL GAZZETTINO</div></a>
            <a href="#" class=""> <div class="list-item ">QUOTIDIANO DI PUGLIA</div></a>
            <a href="#" class=""> <div class="list-item ">LEGGO</div></a>
            <a href="#" class=""> <div class="list-item ">PUBBLICITÀ</div></a>
        </div>
    </div>
    
    <div class="row footer-bottom-low">
        <div class="container-flex cnc-low">
            <!-- Lista di elementi -->
            <a href="#" class="grey"> <div class="list-item " style="color: #777;">CONTATTI</div></a>
            <a href="#" class="grey"> <div class="list-item " style="color: #777;">INFORMAZIONI LEGALI</div></a>
            <a href="#" class="grey"> <div class="list-item " style="color: #777;">WHISTLEBLOWING</div></a>
            <a href="#" class="grey"> <div class="list-item " style="color: #777;">Privacy Policy</div></a>
            <a href="#" class="grey"> <div class="list-item " style="color: #777;">Cookie Policy</div></a>
            <a href="#" class="grey"> <div class="list-item " style="color: #777;">Preferenze Cookie</div></a>
        </div>
    </div>
</div>