<div class="container d-none d-lg-block">

    <div class="row header">
        <div class="container-flex ciaone">
            <!-- Lista di elementi -->
            <div class="list-item ciao"><img class="image" src="../../assets/header-img/title.png"></div>
            
            <!-- Elemento che riempie lo spazio -->
            <div class="fill-space">
                <div class="line"></div>
            </div>
            <div class="list-item ciao"> &#169;2024 Il NEWSPAPER - C.F. e P.IVA 44444444444</div>
        </div>
    </div>


    <div class="row link">

        <div class="col-md-6">
            <p class="title">SEZIONI</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="container-flex sezioni-con">
                        <!-- Lista di elementi -->
                        <div class="list-item ">Peronse</div>
                        <div class="list-item ">Italia</div>
                        <div class="list-item ">Mondo</div>
                        <div class="list-item ">Economia</div>
                        <div class="list-item ">Politica</div>
                        <div class="list-item ">Salute</div>
                        <div class="list-item ">Schede</div>
                        <div class="list-item ">Sport</div>
                        <div class="list-item ">Spettacoli</div>
                        <div class="list-item ">Donna</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container-flex sezioni-con">
                        <!-- Lista di elementi -->
                        <div class="list-item ">Peronse</div>
                        <div class="list-item ">Italia</div>
                        <div class="list-item ">Mondo</div>
                        <div class="list-item ">Economia</div>
                        <div class="list-item ">Politica</div>
                        <div class="list-item ">Salute</div>
                        <div class="list-item ">Schede</div>
                        <div class="list-item ">Sport</div>
                        <div class="list-item ">Spettacoli</div>
                        <div class="list-item ">Donna</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container-flex sezioni-con">
                        <!-- Lista di elementi -->
                        <div class="list-item ">Peronse</div>
                        <div class="list-item ">Italia</div>
                        <div class="list-item ">Mondo</div>
                        <div class="list-item ">Economia</div>
                        <div class="list-item ">Politica</div>
                        <div class="list-item ">Salute</div>
                        <div class="list-item ">Schede</div>
                        <div class="list-item ">Sport</div>
                        <div class="list-item ">Spettacoli</div>
                        <div class="list-item ">Donna</div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="col-md-2">
            <p class="title">EDIZIONI LOCALI</p>
            <div class="container-flex edizioni-con">
                <!-- Lista di elementi -->
                <div class="list-item ">Roma</div>
                <div class="list-item ">Viterbo</div>
                <div class="list-item ">Rieti</div>
                <div class="list-item ">Latina</div>
                <div class="list-item ">Frosinone</div>
                <div class="list-item ">Abbruzzo</div>
                <div class="list-item ">Marche</div>
                <div class="list-item ">Umbria</div>
            </div>
        </div>
        
        
        <div class="col-md-2">
            <p class="title">MULTIMEDIA</p>
            <div class="container-flex multimedia-con">
                <!-- Lista di elementi -->
                <div class="list-item ">Video</div>
                <div class="list-item ">Podcast</div>
                <div class="list-item ">Foto</div>
            </div>
        </div>
        
        
        <div class="col-md-2">
            <p class="title">SERVIZI</p>
            <div class="container-flex servizi-con">
                <!-- Lista di elementi -->
                <div class="list-item ">Smart City</div>
                <div class="list-item ">Meteo</div>
                <div class="list-item ">Oroscopo</div>
                <div class="list-item ">Sondaggi</div>
                <div class="list-item ">Abbondamento</div>
                <div class="list-item ">Necrologie</div>
            </div>
        </div>

    </div>


    <div class="row socials">
        <nav class="navbar navbar-expand-lg">
            <ul class="navbar-nav mx-auto w-100 d-flex justify-content-center">
                <li class="nav-item"><a href="#"> <!-- FACEBOOK -->
                        <i class="fa-brands fa-facebook" style="background-color: #30578f;"></i>
                    </a></li>
                <li class="nav-item"><a href="#"> <!-- X -->
                        <i class="fa-brands fa-x-twitter" style="background-color: #0f1419;"></i>
                    </a></li>
                <li class="nav-item"><a href="#"> <!-- YOUTUBE -->
                        <i class="fa-brands fa-youtube" style="background-color: #ff0000;"></i>
                    </a></li>
                <li class="nav-item"><a href="#"> <!-- INSTAGRAM -->
                        <i class="fa-brands fa-instagram" style="background-color: #e6245a;"></i>
                    </a></li>
                <li class="nav-item"><a href="#"> <!-- TELEGRAM -->
                        <i class="fa-brands fa-telegram" style="background-color: #249eda;"></i>
                    </a></li>
                <li class="nav-item"><a href="#"> <!-- TIK TOK -->
                        <i class="fa-brands fa-tiktok" style="background-color: #000000;" ></i>
                    </a></li>
            </ul>
        </nav>
    </div>
    
    
    <div class="row network">
        <div class="container-flex ciaone net-con">
            <!-- Lista di elementi -->
            <div class="list-item ciao net">CALTAGIRONE EDITORE</div>
            <div class="list-item ciao net">IL MATTINO</div>
            <div class="list-item ciao net">CORRIERE ADRIATICO</div>
            <div class="list-item ciao net">IL GAZZETTINO</div>
            <div class="list-item ciao net">QUOTIDIANO DI PUGLIA</div>
            <div class="list-item ciao net">LEGGO</div>
            <div class="list-item ciao net">PUBBLICITÀ</div>
        </div>
    </div>
    
    
    <div class="row footer-bottom">
        <div class="container-flex fondo-con">
            <!-- Lista di elementi -->
            <div class="list-item ciao fondo" style="color: #777;">CONTATTI</div>
            <div class="list-item ciao fondo" style="color: #777;">INFORMAZIONI LEGALI</div>
            <div class="list-item ciao fondo" style="color: #777;">WHISTLEBLOWING</div>
            <div class="list-item ciao fondo" style="color: #777;">Privacy Policy</div>
            <div class="list-item ciao fondo" style="color: #777;">Cookie Policy</div>
            <div class="list-item ciao fondo" style="color: #777;">Preferenze Cookie</div>
        </div>
    </div>

</div>

<div class="container d-block d-lg-none">

    <div class="row header-small">
        <div class="container-flex header-small">
            <!-- Lista di elementi -->
            <div class="list-item-small img-container"><img class="img-fluid" src="../../assets/header-img/title.png"></div>
    
            <div class="list-item-small socials">
                <nav class="navbar">
                    <ul class="navbar-nav d-flex justify-content-center">
                        <li class="nav-item"><a href="#"> <!-- FACEBOOK -->
                                <i class="fa-brands fa-facebook" style="background-color: #30578f;"></i>
                            </a></li>
                        <li class="nav-item"><a href="#"> <!-- X -->
                                <i class="fa-brands fa-twitter" style="background-color: #0f1419;"></i>
                            </a></li>
                        <li class="nav-item"><a href="#"> <!-- YOUTUBE -->
                                <i class="fa-brands fa-youtube" style="background-color: #ff0000;"></i>
                            </a></li>
                        <li class="nav-item"><a href="#"> <!-- INSTAGRAM -->
                                <i class="fa-brands fa-instagram" style="background-color: #e6245a;"></i>
                            </a></li>
                        <li class="nav-item"><a href="#"> <!-- TELEGRAM -->
                                <i class="fa-brands fa-telegram" style="background-color: #249eda;"></i>
                            </a></li>
                        <li class="nav-item"><a href="#"> <!-- TIK TOK -->
                                <i class="fa-brands fa-tiktok" style="background-color: #000000;"></i>
                            </a></li>
                    </ul>
                </nav>
            </div>
            
            <div class="list-item-small"> &#169;2024 Il NEWSPAPER - C.F. e P.IVA 44444444444</div>
        </div>
    </div>
    

</div>