.container {
    background-color: #5f5f5f;
}

.category, .text {
    color: white;
}
.category {
    padding-top: 5%;
    font-size: large;
    font-weight: bold;
}

.header {
    padding-top: 3%;
    padding-bottom: 3%;
}

.position-relative {
    position: relative;
}

.overlay-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #ddd;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.title {
    display: flex;              /* Flexbox per centrare il testo */
    justify-content: left;    /* Centra orizzontalmente */
    align-items: center;
    margin-bottom: 0;
    font-weight: bold;
}

.fill-space {
    flex-grow: 1;
    display: flex;
    align-items: center; /* Allinea la linea in basso */
}
.line {
    width: 100%;
    border-top: 1px solid black; /* Stile della linea */
}
.line.white {
    width: 100%;
    border-top: 1px solid white; /* Stile della linea */
}