.nav-item .nav-link{
    color: black;
}

.container {
    background-color: white;
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}