<div class="container">

    <nav class="navbar">
        <ul class="navbar-nav flex-row w-100">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-regular fa-n"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ITEM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ITEM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ITEM</a>
            </li>
        </ul>
    </nav>

</div>