<div class="container-fluid">
    <div class="row">
        <!-- Navbar nella prime 5 colonne -->
        <div class="col-5">
            <!-- Contenuto della prima navbar -->
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">menu-icona</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">lente-icona</a>
                    </li>
                    <li class="nav-item bordo">
                        <a class="nav-link" href="#">PERSONE</a>
                    </li>
                    <li class="nav-item bordo">
                        <a class="nav-link" href="#">SCHEDE</a>
                    </li>
                    <li class="nav-item bordo">
                        <a class="nav-link" href="#">ARCHIVIO</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Due colonne vuote -->
        <div class="col-2"></div>

        <!-- Navbar nelle ultime 5 colonne -->
        <div class="col-5">
            <!-- Contenuto della seconda navbar -->
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">campanella-icona</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LE TUE NOTIZIE-BOTTONE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABBONATI-BOTTONE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ACCEDI-BOTTONE</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>