<div class="container-fluid">
    <div class="row">
        <!-- Navbar nella prime 5 colonne -->
        <div class="col-5">
            <!-- Contenuto della prima navbar -->
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-bars"></i> <!-- MENU BARS -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-magnifying-glass"></i> <!-- SEARCH ICON -->
                        </a>
                    </li>
                    <li class="nav-item bordo">
                        <a class="nav-link" href="#">PERSONE</a>
                    </li>
                    <li class="nav-item bordo">
                        <a class="nav-link" href="#">SCHEDE</a>
                    </li>
                    <li class="nav-item bordo">
                        <a class="nav-link" href="#">ARCHIVIO</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Due colonne vuote -->
        <div class="col-2"></div>

        <!-- Navbar nelle ultime 5 colonne -->
        <div class="col-5">
            <!-- Contenuto della seconda navbar -->
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-regular fa-bell"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button>
                                <p> <i class="fas fa-thumbtack extra"></i>  LE TUE NOTIZIE</p> <!-- LE TUE NOTIZIE BOTTON -->
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button>
                                <p>ABBONATI</p> <!-- ABBONATI BUTTON -->
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button>
                                <p> <i class="fa-regular fa-user extra"></i>  ACCEDI</p> <!-- ACCEDI BOTTON -->
                            </button>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>