<div class="container">
    
    <div class="row">
        <app-sport-blue
        [article_1]="{
            imageUrl: '../../assets/area-bottom/sergio.png',
            titleBlack: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            titleRed: '',
            signature: 'di CASician',
            approfUno: 'LINK UNO',
            approfDue: 'LINK DUE'
        }"
        [article_2]="{
            imageUrl: '../../assets/main-content-img/fotina.png',
            titleBlack: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            titleRed: '',
            signature: 'di CASician',
            approfUno: 'LINK UNO',
            approfDue: 'LINK DUE'
        }"
        [article_3]="{
            imageUrl: '../../assets/main-content-img/fotina.png',
            titleBlack: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            titleRed: '',
            signature: 'di CASician',
            approfUno: 'LINK UNO',
            approfDue: 'LINK DUE'
        }"
        [article_4]="{
            imageUrl: '../../assets/main-content-img/fotina.png',
            titleBlack: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            titleRed: '',
            signature: 'di CASician',
            approfUno: 'LINK UNO',
            approfDue: 'LINK DUE'
        }"
        ></app-sport-blue>
    </div>


    <div class="row">
        <app-big-strip-4></app-big-strip-4>
    </div>


    <div class="row">
        <app-big-strip-4></app-big-strip-4>
    </div>

    <!-- 3 STARTS HERE -->  
    
    <div class="row">
        <app-big-strip-3></app-big-strip-3>
    </div>

</div>