<div class="container">

    <div class="row title">
        
        <div class="testatabox box sinistra">   <!-- BOX TESTATA CON TITOLETTO-->
            <h3><a href="#" class="title-white">LE NOTIZIE PIÙ LETTE </a></h3>
        </div>

    </div>


    <div class="row article">
        <div class="col-md-4 col-2 position-relative">
            <i class="fa-solid fa-1"></i>
        </div>

        <div class="col-md-8 col-10">
            <a href="#" class="black"><p class="text"> {{ article_1.text }} </p></a>
            <p class="signature"> {{ article_1.signature }} </p>
        </div>
    </div>


    <div class="row article">
        <div class="col-md-4 col-2 position-relative">
            <i class="fa-solid fa-2"></i>
        </div>

        <div class="col-md-8 col-10">
            <a href="#" class="black"><p class="text"> {{ article_2.text }} </p></a>
            <p class="signature"> {{ article_2.signature }} </p>
        </div>
    </div>


    <div class="row article">
        <div class="col-md-4 col-2 position-relative">
            <i class="fa-solid fa-3"></i>
        </div>

        <div class="col-md-8 col-10">
            <a href="#" class="black"><p class="text"> {{ article_3.text }} </p></a>
            <p class="signature"> {{ article_3.signature }} </p>
        </div>
    </div>


    <div class="row article">
        <div class="col-md-4 col-2 position-relative">
            <i class="fa-solid fa-4"></i>
        </div>

        <div class="col-md-8 col-10">
            <a href="#" class="black"><p class="text"> {{ article_4.text }} </p></a>
            <p class="signature"> {{ article_4.signature }} </p>
        </div>
    </div>


    <div class="row article">
        <div class="col-md-4 col-2 position-relative">
            <i class="fa-solid fa-5"></i>
        </div>

        <div class="col-md-8 col-10">
            <a href="#" class="black"><p class="text"> {{ article_5.text }} </p></a>
            <p class="signature"> {{ article_5.signature }} </p>
        </div>
    </div>
</div>

<div class="container extra">

    <div class="row">
        <a href="#" class="title-black"><p class="title"> IN VISTA </p></a>
    </div>

    <div class="row big">
        <div class="row">
            <p class="category"> {{ video.category }} </p>
        </div>
        <div class="row img">
            <div class="image-wrapper position-relative">
                <a href="#">
                    <img [src]="video.imgUrl" class="img-fluid" alt="item image" title="immagine" />
                    <i *ngIf="video.isVideo" class="fa-regular fa-circle-play overlay-icon"
                        style="font-size: 2rem;"></i>
                </a>
            </div>
        </div>
        <div class="row text">
            <a href="#" class="black"><p> {{ video.text }} </p></a>
        </div>
    </div>

</div>