<div class="container">

    <div class="row header">
        <a href="#" class="white"><p class="title">VIDEO DEL GIORNO</p></a>
        <div class="fill-space">
            <div class="line"></div>
        </div>
    </div>

    <div class="row description">
        <a href="#" class="white">{{description}}</a>
    </div>

    <div class="row video">
        <video controls>
            <source [src]="videoUrl" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

</div>