<div class="container">

    <div class="row">
        <div class="container-flex">
            <!-- Lista di elementi -->
            <a href="#" class=""><div class="list-item first"> SALUTE</div></a>
            <a href="#" class=""><div class="list-item">FOCUS</div></a>
            <a href="#" class=""><div class="list-item">MOLTOSALUTE</div></a>
            <a href="#" class=""><div class="list-item">MEDICINA</div></a>
            <a href="#" class=""><div class="list-item">PRIMA INFANZIA</div></a>
            <!-- Elemento che riempie lo spazio -->
            <div class="fill-space">
                <div class="line"></div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="row">

            <div class="">                  <!-- TITOLO CLICCABILE -->
                <a href="#" class="black"><h2> {{ article_1.titleBlack }} </h2></a>
            </div>
    
        </div>
    
    
        <div class="row firma">                     <!-- FIRMA -->
            <p class="">{{ article_1.signature }}</p>
        </div>
        
        
        <div class="row img">                       <!-- IMMAGINE -->
            <a href="#"><img class="" class="img-fluid" [src]="article_1.imageUrl"/></a>
        </div>
        
        
        <div class="row approfondimenti">           <!-- APPROFONDIMENTI -->
        
            <ul class="horizontal-list">
               <li>
                <a href="#" class="black">{{ article_1.approfUno }}</a>
               </li> 
               <li>
                <a href="#" class="black">{{ article_1.approfDue }}</a>
               </li> 
            </ul>
        
        </div>
    </div>
    
    
    <div class="row">
        <app-strip-2
        [article_1]="article_2"
        [article_2]="article_3"
        ></app-strip-2>
    </div>

</div>