.container{
    background-color: #f3f2f2;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.container-flex {
    display: flex;
    flex-direction:row;
}
.list-item {
    padding: 10px;
    color: black;
    font-size: small;
    font-weight: bold;
}
.fill-space {
    flex-grow: 1;
    display: flex;
    align-items: center; /* Allinea la linea in basso */
}
.line {
    width: 100%;
    border-top: 1px solid black; /* Stile della linea */
}
.first {
    background-color: black;
    color: #f3f2f2;
}

.firma {
    color: red;
    font-style: italic;
}

.horizontal-list {
    display: flex;
    list-style-type: square;
    padding-left: 2%;
    margin: 0;
    color: #b22222;
}

.horizontal-list li {
    margin-right: 10%; /* Spazio tra gli elementi */
}

.img-fluid {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

a.black {
    color: black;
}

a.black:hover{
    text-decoration: underline;
}