.container {
    padding-top: 5%;
}

.title {
    display: flex;              /* Flexbox per centrare il testo */
    justify-content: left;    /* Centra orizzontalmente */
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
}

.fa-brands {
    color: #fff;
    padding: 15px;
    font-weight: bold;
}

.nav-item {
    display: flex;
    margin-left: 2%;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.icons {
    border-bottom: 1px solid black;
    display: flex;
    align-self: center;
}