<div class="container">

    <div class="row">
        <p class="title"> SEGUICI SUI SOCIAL </p>
    </div>


    <div class="row icons">
        <nav class="navbar navbar-expand-lg">
            <ul class="navbar-nav mx-auto w-100 d-flex justify-content-between">
                <li class="nav-item"><a href="#"> <!-- FACEBOOK -->
                        <i class="fa-brands fa-facebook" style="background-color: #30578f;"></i>
                    </a></li>
                <li class="nav-item"><a href="#"> <!-- X -->
                        <i class="fa-brands fa-x-twitter" style="background-color: #0f1419;"></i>
                    </a></li>
                <li class="nav-item"><a href="#"> <!-- YOUTUBE -->
                        <i class="fa-brands fa-youtube" style="background-color: #ff0000;"></i>
                    </a></li>
                <li class="nav-item"><a href="#"> <!-- INSTAGRAM -->
                        <i class="fa-brands fa-instagram" style="background-color: #e6245a;"></i>
                    </a></li>
                <li class="nav-item"><a href="#"> <!-- TELEGRAM -->
                        <i class="fa-brands fa-telegram" style="background-color: #249eda;"></i>
                    </a></li>
                <li class="nav-item"><a href="#"> <!-- TIK TOK -->
                        <i class="fa-brands fa-tiktok" style="background-color: #000000;" ></i>
                    </a></li>
            </ul>
        </nav>
    </div>

</div>