<div class="container">

    <div class="container">
        <div class="row header">
            <div class="testatabox">
                <img src="../../../assets/right-rail-img/logo.png" alt="my play" title="my play logo" />
            </div>
        </div>


        <div class="row big">
            <img [src]="article_1.imgUrl" alt="big img-fluid" title="important image" />
            <p> {{ article_1.text }} </p>
        </div>
    </div>

    <div class="fill-space">
        <div class="line"></div>
    </div>

    <div class="row small">
        <app-item-article [article]="article_2" textColor="#fff"></app-item-article>
    </div>

    <div class="fill-space">
        <div class="line"></div>
    </div>

    <div class="row small">
        <app-item-article [article]="article_3" textColor="#fff"></app-item-article>
    </div>
</div>