<div class="container">

    <div class="row header">
        <p class="title"> PODCAST </p>
    </div>


    <div class="row">

        <div class="col-md-2 position-relative">
            <i class="fa-regular fa-circle-play central"></i>
        </div>


        <div class="podcast col-md-10">
            <p class="category"> {{ podcast_1.category }} </p>
            <p class="text"> {{ podcast_1.text }} </p>
            <p class="signature"> {{ podcast_1.signature }} </p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-2 position-relative">
            <i class="fa-regular fa-circle-play central"></i>
        </div>


        <div class="podcast col-md-10">
            <p class="category"> {{ podcast_2.category }} </p>
            <p class="text"> {{ podcast_2.text }} </p>
            <p class="signature"> {{ podcast_2.signature }} </p>
        </div>

    </div>
</div>