.container-fluid {
    border-bottom: 1px solid #DDDDDD;
    background-color: white;
}

.navbar {
    padding-bottom: 0%;
}

.nav-item.bordo {
    border-left: 1px solid #DDDDDD;
}

.nav-link.right {
    padding-bottom: 1%;
    padding-top: 1%;
}

.btn.white {
    border: none;
    background-color: white;
    color: black;
}

.btn {
    border-radius: 35px;
    font-weight: bold;
    font-size: small;
    flex-wrap: nowrap;
}

.right {
    display: flex;
    white-space: nowrap;
}

.btn i {
    font-size: 15px; /* Riduci la dimensione dell'icona */
}

.fa-bell, .big {
    font-size: 20px;
}

.big {
    padding-left: 60%;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.btn.red {
    border: none;
    color: white;
    background-color: #b22222;
}

.btn.bordeaux {
    border: none;
    color: white;
    background-color: #450d13;
}