<div class="container justify-content-center align-items">
    <div class="row">
        <div class="col-md-4">
            <app-article-small 
                [imageUrl]="'../../../assets/main-content-img/small-article.png'"
                [titleBlack]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'" 
                [titleRed]="'Lorem ipsum'"
                [signature]="'di CASician'"></app-article-small>
        </div>
        <div class="col-md-4">
            <app-article-small 
                [imageUrl]="'../../../assets/main-content-img/small-article.png'"
                [titleBlack]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'" 
                [titleRed]="'Lorem ipsum'"
                [signature]="'di CASician'"></app-article-small>
        </div>
        <div class="col-md-4">
            <app-article-small 
                [imageUrl]="'../../../assets/main-content-img/small-article.png'"
                [titleBlack]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'"  
                [titleRed]="'Lorem ipsum'"
                [signature]="'di CASician'"></app-article-small>
        </div>
    </div>
</div>