<div class="container">
    

    <div class="row">                               <!-- MY PLAY ROW -->
        <app-my-play></app-my-play>
    </div>
    
    
    <div class="row">                               <!-- SOCIALS ROW -->
        <app-socials></app-socials>
    </div>
    
    
    <div class="row">                               <!-- ZOOM ROW -->
        <app-zoom></app-zoom>
    </div>


    <div class="row">                               <!-- OPINIONS ROW -->
        <app-opinions></app-opinions>
    </div>


</div>