<div class="container">
    

    <div class="row">                               <!-- MY PLAY ROW -->
        <app-my-play
        [article_1]="{
            category: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            imgUrl: '../../assets/right-rail-img/my-play.png',
            isVideo: false,
            signature: ''
        }"
        [article_2]="{
            category: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.',
            imgUrl: '../../assets/right-rail-img/video.png',
            isVideo: true,
            signature: ''
        }"
        [article_3]="{
            category: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.',
            imgUrl: '../../assets/right-rail-img/item.png',
            isVideo: false,
            signature: ''
        }"
        ></app-my-play>
    </div>
    
    
    <div class="row">                               <!-- SOCIALS ROW -->
        <app-socials></app-socials>
    </div>
    
    
    <div class="row">                               <!-- ZOOM ROW -->
        <app-zoom
        [article_1]="{
            category: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.',
            imgUrl: '../../assets/right-rail-img/item.png',
            isVideo: false,
            signature: ''
        }"
        [article_2]="{
            category: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.',
            imgUrl: '../../assets/right-rail-img/video.png',
            isVideo: true,
            signature: ''
        }"
        [article_3]="{
            category: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.',
            imgUrl: '../../assets/right-rail-img/item.png',
            isVideo: false,
            signature: ''
        }"
        [article_4]="{
            category: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.',
            imgUrl: '../../assets/right-rail-img/item.png',
            isVideo: false,
            signature: 'di nostro'
        }"
        [article_5]="{
            category: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.',
            imgUrl: '../../assets/right-rail-img/video.png',
            isVideo: true,
            signature: ''
        }"
        [article_6]="{
            category: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.',
            imgUrl: '../../assets/right-rail-img/item.png',
            isVideo: false,
            signature: ''
        }"
        [article_7]="{
            category: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.',
            imgUrl: '../../assets/right-rail-img/item.png',
            isVideo: false,
            signature: 'di tuo'
        }"
        [article_8]="{
            category: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.',
            imgUrl: '../../assets/right-rail-img/video.png',
            isVideo: true,
            signature: ''
        }"
        [article_9]="{
            category: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.',
            imgUrl: '../../assets/right-rail-img/item.png',
            isVideo: false,
            signature: ''
        }"
        [article_10]="{
            category: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.',
            imgUrl: '../../assets/right-rail-img/item.png',
            isVideo: false,
            signature: 'di mio'
        }"
        [article_11]="{
            category: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.',
            imgUrl: '../../assets/right-rail-img/video.png',
            isVideo: true,
            signature: ''
        }"
        [article_12]="{
            category: '',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.',
            imgUrl: '../../assets/right-rail-img/item.png',
            isVideo: false,
            signature: ''
        }"
        ></app-zoom>
    </div>


    <div class="row">                               <!-- OPINIONS ROW -->
        <app-opinions
        [opinion_1]="{
            category: 'NOME COGNOME',
            text: 'Lorem ipsum/ dolor sit amet, consectetur adipiscing elit.',
            imgUrl: '../../../assets/right-rail-img/face.png',
            isVideo: false,
            signature: ''
        }"
        [opinion_2]="{
            category: 'NOME COGNOME',
            text: 'Lorem ipsum/ dolor sit amet, consectetur adipiscing elit.',
            imgUrl: '../../../assets/right-rail-img/face.png',
            isVideo: false,
            signature: ''
        }"
        [opinion_3]="{
            category: 'NOME COGNOME',
            text: 'Lorem ipsum/ dolor sit amet, consectetur adipiscing elit.',
            imgUrl: '../../../assets/right-rail-img/face.png',
            isVideo: false,
            signature: ''
        }"
        [opinion_4]="{
            category: 'NOME COGNOME',
            text: 'Lorem ipsum/ dolor sit amet, consectetur adipiscing elit.',
            imgUrl: '../../../assets/right-rail-img/face.png',
            isVideo: false,
            signature: ''
        }"
        [posta]="{
            category: 'NOME COGNOME',
            text: 'Lorem ipsum/ dolor sit amet, consectetur adipiscing elit.',
            imgUrl: '../../../assets/right-rail-img/face.png',
            isVideo: false,
            signature: ''
        }"
        ></app-opinions>
    </div>


    <div class="row">
        <app-podcast
        [podcast_1]="{
            category: 'PRIMA PAGINA',
            text: 'Lorem ipsum/ dolor sit amet, consectetur adipiscing elit.',
            imgUrl: '',
            isVideo: false,
            signature: 'mio e di altri 37'
        }"
        [podcast_2]="{
            category: 'PODCAST',
            text: 'Lorem ipsum/ dolor sit amet, consectetur adipiscing elit.',
            imgUrl: '',
            isVideo: false,
            signature: 'forse tuo'
        }"
        ></app-podcast>
    </div>


    <div class="row">
        <app-oroscopo
        [segno]="{
            category: 'Toro',
            text: 'Dal 20 Aprile al 20 Maggio',
            imgUrl: '../../../assets/right-rail-img/zodiacal-sign.png',
            isVideo: false,
            signature: ''
        }"
        ></app-oroscopo>
    </div>
</div>