.container {
    padding-top: 5%;
}

.category .text {
    font-size: small;
}

.category {
    font-weight: bold;
    margin-top: 5%;
}

.title {
    display: flex;              /* Flexbox per centrare il testo */
    justify-content: left;    /* Centra orizzontalmente */
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
}

p {
    margin-bottom: 0;
}