<div class="container">
    <div class="row categoria">
        <h3>CATEGORIA</h3>
    </div>
    <div class="row titolo">
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</a>
        <a href="#" class="rosso">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
    </div>
    <div class="row approfondimenti">
        <ul class="horizontal-list">
            <li>
                <a href="#">LINK UNO</a>
            </li>
            <li>
                <a href="#">LINK DUE</a>
            </li>
        </ul>
    </div>
    <div class="row firma">
        <p>di CASician</p>
    </div>
</div>