.container {
    padding: 2%;
}
h3 {
    font-size: small;
    font-weight: bold;
    color: #b22222;
}

.rosso {
    color: #b22222;
}

.firma {
    color: #b22222;
    padding-top: 2%;
    font-style: italic;
}

.horizontal-list {
    display: flex;
    list-style-type: square;
    padding-left: 5%;
    margin: 0;
    color: #b22222;
}

.horizontal-list li {
    margin-right: 10%; /* Spazio tra gli elementi */
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a.black {
    color: black;    
}