<div class="container">
    <div class="row categoria">
        <h3><a href="#" class="rosso"> {{ category }} </a></h3>
    </div>
    <div class="row titolo">
        <a href="#" class="black"> {{ titleBlack }} </a>
        <a href="#" class="rosso"> {{ titleRed }} </a>
    </div>
    <div class="row approfondimenti">
        <ul class="horizontal-list">
            <li>
                <a href="#" class="black">{{ approfUno }}</a>
            </li>
            <li>
                <a href="#" class="black">{{ approfDue }}</a>
            </li>
        </ul>
    </div>
    <div class="row firma">
        <p>{{ signature }}</p>
    </div>
</div>