<!-- THIS IS THE MAIN DOCUMENT. -->
<!-- Everything is being called from here. If you don't find it here, it means that what you're looking for is a subelement of something that is called here. -->

<div class="container">
    
    <div class="row sticky-top">
        <app-header-top-content ></app-header-top-content>
    </div>

    <div class="row d-none d-lg-block">
        <app-header-container></app-header-container>
    </div>
    
    <div class="row d-block d-lg-none">
        <app-small-devices></app-small-devices>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <app-main-content></app-main-content>
        </div>
        <div class="col-md-4">
            <app-right-rail></app-right-rail>
        </div>
    </div>

    
    <div class="row d-none d-lg-block">
        <app-area-bottom></app-area-bottom>
    </div>

    
    <div class="row">
        <app-footer></app-footer>
    </div>

    <app-footer-small-device class="d-block d-lg-none hp-bottom"></app-footer-small-device>

</div>
<router-outlet />