<div class="container">

    <div class="row title">

        <div class="testatabox box sinistra"> <!-- BOX TESTATA CON TITOLETTO-->
            <h3><a href="#" style="color:#ddd">{{ category }}</a></h3>
        </div>

        <div class="fill-space">
            <div class="line"></div>
        </div>

        <div class="sinistra"> <!-- TITOLO CLICCABILE -->
            <a href="#">
                <h2>{{ title }}</h2>
            </a>
        </div>

    </div>


    <div class="row firma"> <!-- FIRMA -->
        <p class="sinistra">{{ signature }}</p>
    </div>


    <div class="row img"> <!-- IMMAGINE -->
        <a href="#"><img class="sinistra img-fluid" [src]="imageUrl" /></a>
    </div>

    <!-- APPROFONDIMENTI -->

    <ul class="horizontal-list">
        <li>
            <a href="#">{{ approfUno }}</a>
        </li>
        <li>
            <a href="#">{{ approfDue }}</a>
        </li>
    </ul>
</div>