.container {
    padding: 2%;
}
.title {
    display: flex;                  /* Utilizza Flexbox */
  }

.testatabox.box {
    display: flex;              /* Flexbox per centrare il testo */
    justify-content: left;    /* Centra orizzontalmente */
    align-items: center;
    margin-bottom: 0;
}

h3 {
    font-size: medium;
    font-weight: bold;
    background-color: black;  /* Sfondo nero */
    color: white;             /* Testo bianco */
    padding: 1%;
    margin: 0;
}

.firma {
    color: red;
    font-style: italic;
}


.horizontal-list {
    display: flex;
    list-style-type: square;
    padding-left: 2%;
    margin: 0;
}

.horizontal-list li {
    margin-right: 10%; /* Spazio tra gli elementi */
}

.fill-space {
    flex-grow: 1;
    display: flex;
    align-items: center; /* Allinea la linea in basso */
}
.line {
    width: 100%;
    border-top: 1px solid black; /* Stile della linea */
}