<div class="container">
    <div class="row title">
        <div class="testatabox box sinistra">   <!-- BOX TESTATA CON TITOLETTO-->
            <h3>TITOLONE CATEGORIA</h3>
        </div>
        <div class="sinistra">                  <!-- TITOLO CLICCABILE -->
            <a href="#"><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2></a>
        </div>
    </div>
    <div class="row firma">                     <!-- FIRMA -->
        <p class="sinistra">di CASician</p>
    </div>
    <div class="row img">                       <!-- IMMAGINE -->
        <img class="sinistra" src="../../../../assets/main-content-img/strip-combo.png"/>
    </div>
    <div class="row approfondimenti">           <!-- APPROFONDIMENTI -->
        <ul class="horizontal-list">
           <li>
            <a href="#">UNO</a>
           </li> 
           <li>
            <a href="#">DUE</a>
           </li> 
        </ul>
    </div>
</div>