<div class="container">


    <div class="row">                   <!-- STRIP COMBO ROW -->
        <app-strip-combo
        [category]="'TITOLONE CATEGORIA'"
        [title]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'"
        [signature]="'di CASician'"
        [imageUrl]="'../../../../assets/main-content-img/strip-combo.png'"
        [approfUno]="'LINK UNO'"
        [approfDue]="'LINK DUE'"
        ></app-strip-combo>
    </div>


    <div class="row">                   <!-- STRIP-1 ROW -->
        <app-strip-1-right
        [category]="'CATEGORIA'"
        [title]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'"
        [signature]="'di CASician'"
        [imageUrl]="'../../../../assets/main-content-img/strip-1-right.png'"
        [approfUno]="'LINK UNO'"
        [approfDue]="'LINK DUE'"
        ></app-strip-1-right>
    </div>


    <div class="row">                   <!-- STRIP-1-NOFOTO ROW -->
        <app-strip-1-nofoto
        [category]="'CATEGORIA'"
        [titleBlack]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.'"
        [titleRed]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'"
        [signature]="'di CASician'"
        [approfUno]="'LINK UNO'"
        [approfDue]="'LINK DUE'"
        ></app-strip-1-nofoto>
    </div>


    <div class="row">                   <!-- STRIP-3 ROW -->
        <app-strip-3
        [article_1]="{
            imageUrl: '../../../assets/main-content-img/small-article.png',
            titleBlack: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            titleRed: 'Lorem ipsum.',
            signature: 'di CASician',
            approfUno: '',
            approfDue: ''
          }"
          [article_2]="{
            imageUrl: '../../../assets/main-content-img/small-article.png',
            titleBlack: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            titleRed: 'Lorem ipsum.',
            signature: 'di CASician',
            approfUno: '',
            approfDue: ''
          }"
          [article_3]="{
            imageUrl: '../../../assets/main-content-img/small-article.png',
            titleBlack: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            titleRed: 'Lorem ipsum.',
            signature: 'di CASician',
            approfUno: '',
            approfDue: ''
          }"
        ></app-strip-3>
    </div>


    <div class="row">                   <!-- STRIP-2-FOTINA ROW -->
        <app-strip-2-fotina
        [article_1]="{
            imageUrl: '../../../assets/main-content-img/fotina.png',
            titleBlack: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            titleRed: '',
            signature: 'di CASician',
            approfUno: 'LINK UNO',
            approfDue: 'LINK DUE'
        }"
        [article_2]="{
            imageUrl: '../../../assets/main-content-img/fotina.png',
            titleBlack: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            titleRed: '',
            signature: 'di CASician',
            approfUno: 'LINK UNO',
            approfDue: 'LINK DUE'
        }"
        ></app-strip-2-fotina>
    </div>


    <div class="row">                   <!-- STRIP-2 ROW -->
        <app-strip-2
        [article_1]="{
            imageUrl: '../../../assets/main-content-img/strip-2.png',
            titleBlack: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            titleRed: '',
            signature: 'di CASician',
            approfUno: '',
            approfDue: ''
        }"
        [article_2]="{
            imageUrl: '../../../assets/main-content-img/strip-2.png',
            titleBlack: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            titleRed: '',
            signature: 'di CASician',
            approfUno: '',
            approfDue: ''
        }"
        ></app-strip-2>
    </div>
</div>