.col-md-4 {
    padding: 3%;
}

.position-relative {
    position: relative;
}

.overlay-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #ddd;
}

.category {
    color: #b22222;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}

.signature {
    color: #b22222;
    margin-bottom: 0;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.small {
    font-size: small;
    font-weight: bold;
    align-items: flex-start;
}

.container {
    padding-top: 5%;
    padding-bottom: 5%;
}

.text {
    margin-bottom: 0;
}