<div class="container">
    <div class="row" [ngClass]="{'flex-row-reverse': isImageRx, 'flex-row': !isImageRx}">

        <div class="col-md-4 ">
            <div class="image-wrapper position-relative">
                <a href="#">
                    <img [src]="article.imgUrl" class="img-fluid" alt="item image" title="immagine" />
                    <i *ngIf="article.isVideo" class="fa-regular fa-circle-play overlay-icon"
                        style="font-size: 2rem;"></i>
                </a>
            </div>
        </div>


        <div class="col-md-8">
            <p class="category" [style.color]="categoryColor"> {{ article.category }} </p>

            <p class="text" [style.color]="textColor"> {{ article.text }}</p>

            <p class="signature"> {{ article.signature }}</p>
        </div>

    </div>
</div>