.col-md-4 {
    padding: 3%;
}

.position-relative {
    position: relative;
}

.overlay-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #ddd;
}