.signature {
    font-style: italic;
    color: #b22222;
    font-size: small;
}

img {
    width: 100%;
    height: auto;
}

a.rosso {
    color: #b22222;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a.black {
    color: black;    
}