<div class="container">

    <div class="row header">
        <div class="header">
            <div class="testatabox box sinistra">   <!-- BOX TESTATA CON TITOLETTO-->
                <h3> ZOOM </h3>
            </div>
        </div>

        <div class="fill-space">
            <div class="line"></div>
        </div>
    </div>

    <div class="row grey">
        <app-item-article [article]="article_1" [isImageRx]="true"></app-item-article>
    </div>

    <div class="row">
        <app-item-article [article]="article_2"></app-item-article>
    </div>

    <div class="row grey">
        <app-item-article [article]="article_3" [isImageRx]="true"></app-item-article>
    </div>

    <div class="row">
        <app-item-article [article]="article_4"></app-item-article>
    </div>

    <div class="row grey">
        <app-item-article [article]="article_5" [isImageRx]="true"></app-item-article>
    </div>
    
    <div class="row">
        <app-item-article [article]="article_6"></app-item-article>
    </div>
    
    <div class="row grey">
        <app-item-article [article]="article_7" [isImageRx]="true"></app-item-article>
    </div>
    
    <div class="row">
        <app-item-article [article]="article_8"></app-item-article>
    </div>
    
    <div class="row grey">
        <app-item-article [article]="article_9" [isImageRx]="true"></app-item-article>
    </div>

    <div class="row">
        <app-item-article [article]="article_10"></app-item-article>
    </div>
    
    <div class="row grey">
        <app-item-article [article]="article_11" [isImageRx]="true"></app-item-article>
    </div>

    <div class="row">
        <app-item-article [article]="article_12"></app-item-article>
    </div>
</div>