<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img [src]="imageUrl" class="img-fluid" alt="Immagine strip-1-right" title="strip-1-right">
        </div>
        <div class="col-md-6">
            <h3>{{ category }} </h3>
            <a href="#"><p class="titolo">{{ title }}</p> </a>
            <ul class="horizontal-list">
                <li>
                    <a href="#">{{ approfUno }} </a>
                </li>
                <li>
                    <a href="#"> {{ approfDue }} </a>
                </li>
            </ul>
            <p class="firma">{{ signature }} </p>
        </div>
    </div>
</div>