<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../../assets/main-content-img/strip-1-right.png" class="img-fluid" alt="Immagine strip-1-right" title="strip-1-right">
        </div>
        <div class="col-md-6">
            <h3>CATEGORIA</h3>
            <a href="#"><p class="titolo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> </a>
            <ul class="horizontal-list">
                <li>
                    <a href="#">LINK UNO</a>
                </li>
                <li>
                    <a href="#">LINK DUE</a>
                </li>
            </ul>
            <p class="firma">di CASician</p>
        </div>
    </div>
</div>