.horizontal-list {
    display: flex;
    list-style-type: square;
    padding-left: 5%;
    margin: 0;
}

.horizontal-list li {
    margin-right: 10%; /* Spazio tra gli elementi */
}

.img-fluid {
    width: 100%;
    height: auto;
}

h3 {
    font-size: small;
    font-weight: bold;
    color: red;
}

.container {
    padding: 2%;
}

.firma {
    color: red;
    padding-top: 2%;
    font-style: italic;
}