<div class="container">

    <div class="row">
        <p class="title"> LE OPINIONI DEL MESSAGGERO </p>
    </div>

    <div class="row opinion">
        <app-item-article [article]="opinion_1" [isImageRx]="true"></app-item-article>
    </div>

    <div class="row opinion">
        <app-item-article [article]="opinion_2" [isImageRx]="true"></app-item-article>
    </div>

    <div class="row opinion">
        <app-item-article [article]="opinion_3" [isImageRx]="true"></app-item-article>
    </div>

    <div class="row opinion">
        <app-item-article [article]="opinion_4" [isImageRx]="true"></app-item-article>
    </div>


    <div class="row">
        <p class="title"> POSTA DEL CUORE </p>
    </div>

    <div class="row opinion">
        <app-item-article [article]="posta" [isImageRx]="true"></app-item-article>
    </div>

</div>