<div class="container">

    <div class="row">
        <p class="title"> {{ category }} </p>
    </div>

    <div class="fill-space">
        <div class="line"></div>
    </div>


    <div class="row">

        <div class="row big-article">

            <div class="col-md-6 image"><img [src]="article_1.imageUrl"></div>
            <div class="col-md-6">
                <p class="text"> {{ article_1.titleBlack }} </p>
                <p class="signature"> {{ article_1.signature}} </p>
            </div>

        </div>

        <div class="fill-space">
            <div class="line white"></div>
        </div>


        <div class="row 2-articles">

            <div class="col-md-6">
                <div class="row titleBlack"> {{ article_2.titleBlack }} </div>
                <div class="row titleRed-image">
                    <div class="col-md-6 image"> <img [src]="article_2.imageUrl" /> </div>
                    <div class="col-md-6 titleRed"> {{ article_2.titleRed }} </div>
                </div>
            </div>
            <div class="col-md-6 border-colored">
                <div class="row titleBlack"> {{ article_3.titleBlack }} </div>
                <div class="row titleRed-image">
                    <div class="col-md-6 image"> <img [src]="article_3.imageUrl" /> </div>
                    <div class="col-md-6 titleRed"> {{ article_3.titleRed }} </div>
                </div>
            </div>
        </div>

    </div>
</div>