<div class="container">

    <div class="row">
        <a href="#" class="black category"><p class="title"> {{ category }} </p></a>
    </div>

    <div class="fill-space">
        <div class="line"></div>
    </div>


    <div class="row">

        <div class="row big-article">

            <div class="col-md-6 image"><a href="#" class=""><img [src]="article_1.imageUrl" class="img-fluid"></a></div>
            <div class="col-md-6">
                <a href="#" class="black"><p class="text"> {{ article_1.titleBlack }} </p></a>
                <p class="signature"> {{ article_1.signature}} </p>
            </div>

        </div>

        <div class="fill-space">
            <div class="line white"></div>
        </div>


        <div class="row 2-articles">

            <div class="col-md-6">
                <div class="row titleBlack"> <a href="#" class="black">{{ article_2.titleBlack }} </a></div>
                <div class="row titleRed-image">
                    <div class="col-md-6 image"> <a href="#" class=""><img [src]="article_2.imageUrl" class="img-fluid" /></a> </div>
                    <div class="col-md-6 titleRed"> <a href="#" class="black">{{ article_2.titleRed }} </a></div>
                </div>
            </div>
            <div class="col-md-6 border-colored">
                <div class="row titleBlack"> <a href="#" class="black">{{ article_3.titleBlack }} </a></div>
                <div class="row titleRed-image">
                    <div class="col-md-6 image"> <a href="#" class=""><img [src]="article_3.imageUrl" class="img-fluid"/> </a></div>
                    <div class="col-md-6 titleRed"> <a href="#" class="black">{{ article_3.titleRed }}</a> </div>
                </div>
            </div>
        </div>

    </div>
</div>