<div class="container">
    <div class="row">
        <div class="col-3">
            <app-card-article 
                [imageUrl]="'../../../../assets/header-img/area-top.png'"
                [title]="'TITOLO'"
                [titleContent]=" 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus non tortor id accumsan.'"
                [signature]="'di CASician'">
            </app-card-article>
        </div>
        <div class="col-3">
            <app-card-article
                [imageUrl]="'../../../../assets/header-img/area-top.png'"
                [title]="'TITOLO'"
                [titleContent]=" 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus non tortor id accumsan.'"
                [signature]="'di CASician'">
            </app-card-article>
        </div>
        <div class="col-3">
            <app-card-article
                [imageUrl]="'../../../../assets/header-img/area-top.png'"
                [title]="'TITOLO'"
                [titleContent]=" 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus non tortor id accumsan.'"
                [signature]="'di CASician'">
            </app-card-article>
        </div>
        <div class="col-3">
            <app-card-article
                [imageUrl]="'../../../../assets/header-img/area-top.png'"
                [title]="'TITOLO'"
                [titleContent]=" 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus non tortor id accumsan.'"
                [signature]="'di CASician'">
            </app-card-article>
        </div>
    </div>
</div>