<div class="container">
    <div class="row title">
        <a href="#" class="black"><p> {{ article.titleBlack }}</p></a>
    </div>
    <div class="row">
        <div class="col-md-5 picture">
            <a href="#"><img [src]="article.imageUrl" class="img-fluid" alt="fotina" title="fotina"/></a>
        </div>
        <div class="col-md-7 extra">
            <div class="row signature">
                <p> {{ article.signature }} </p>
            </div>
            <div class="row approf">
                <ul>
                    <li><a href="#" class="black"> {{ article.approfUno }} </a></li>
                    <li><a href="#" class="black"> {{ article.approfDue }} </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>