.img-fluid {
    width: 100%;
    height: auto;
}

.signature {
    color: #b22222;
    padding-top: 2%;
    font-style: italic;
    font-size: small;
}

ul {
    list-style-type: square;
    color: #b22222;
    padding-left: 10%;
    margin: 0
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a.black {
    color: black;    
}